<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"},"style":{"spacing":{"padding":{"top":"clamp(1rem, 4vw, 1.5rem)","bottom":"clamp(2rem, 5vw, 3rem)"}}}} -->
<main class="wp-block-group" style="padding-top: clamp(1rem, 4vw, 1.5rem); padding-bottom: clamp(2rem, 5vw, 3rem);">

	<!-- wp:post-title {"level":1,"style":{"spacing":{"padding":{"left":"var:preset|spacing|30","right":"var:preset|spacing|30"}}}} /-->

	<!-- wp:post-content {"layout":{"type":"default"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
